extends layouts/main
include mixins/phoneBlock

block content
    .phones
        each item in phones
            +phoneBlock({
                name:item.name,
                image:item.image,
                company:item.company
            }) 