extends layouts/main
include mixins/phoneBlock

block content
    .home-phones
        each item in phones
            +phoneBlock({
                id:item.id,
                name:item.name,
                imageUrl:item.imageUrl,
                company:item.company
            })
