include phoneBlock

mixin companyBlock(company = {})
    .companyBlock
        .companyBlock__img
            img.u-avatar(src=company.imageUrl)
        .companyBlock__name
            a(href=routes.companyDetail(company.id))
                p=company.name
                    span.companyBlock__more
                        button|+
        .companyBlock__phones
            if(company.phones.length > 8)
                each item in company.phones.slice(0, 8)
                    +phoneBlock({
                        id:item.id,
                        name:item.name,
                        imageUrl:item.imageUrl
                    })
            else
                each item in company.phones
                    +phoneBlock({
                        id:item.id,
                        name:item.name,
                        imageUrl:item.imageUrl
                    })
