extends layouts/main
include mixins/phoneBlock

block content
    .search__header
        h3
            span.searchingBy=`'${searchingBy}' `
            | 의 검색결과
    .search__phones
        if phones.length === 0
            h5 검색결과 없음
        each item in phones
            +phoneBlock({
                name:item.name,
                imageUrl:item.imageUrl,
                company:item.company,
                id:item.id
            }) 