.phoneBlock {
  width: 150px;
  margin-bottom: 20px;
  .img__container {
    width: 150px;
    height: 150px;
    img {
      margin-bottom: 10px;
      max-height: 150px;
      overflow: hidden;
      max-width: 100%;
    }
  }
  .phoneBlock__name {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
  }
}
