.phoneBlock {
  width: 150px;
  margin-bottom: 20px;
  img {
    margin-bottom: 10px;
    max-width: 100%;
  }
  .phoneBlock__name {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
  }
}
