.uploadMenu__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .uploadMenu__btns {
    width: 600px;
    display: flex;
    align-items: center;
    a:not(:last-child) {
      margin-right: 30px;
    }
    a {
      width: 100%;
      button {
        width: 100%;
      }
    }
  }
}
